{% extends "base.html" %}
{% load static %}

{% block title %}Добавление текста для аннотирования{% endblock %}

{% block content %}
<div class="container">
    <h1>Добавление нового текста для аннотирования</h1>
    
    <button type="button"
            onclick="window.location.href = '{% url 'review_text_list' %}'">
            Назад
    </button>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.author.label_tag }}
            {{ form.author }}
            {% if form.author.errors %}
                <div class="text-danger">{{ form.author.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.idexercisetexttype.label_tag }}
            {{ form.idexercisetexttype }}
            {% if form.idexercisetexttype.errors %}
                <div class="text-danger">{{ form.idexercisetexttype.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.exercisetextname.label_tag }}
            {{ form.exercisetextname }}
            {% if form.exercisetextname.errors %}
                <div class="text-danger">{{ form.exercisetextname.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.exercisetext.label_tag }}
            {{ form.exercisetext }}
            {% if form.exercisetext.errors %}
                <div class="text-danger">{{ form.exercisetext.errors }}</div>
            {% endif %}
        </div>
        
        <button type="submit">Добавить текст</button>
    </form>
</div>

{% endblock %}