{% extends "base.html" %}
{% load static %}

{% block title %}Добавление текста для аннотирования{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/exercise_app.css' %}" />
<link rel="stylesheet" href="{% static 'css/review.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="highlighted-header">Добавление нового текста для аннотирования</h2>

    <form method="post" class="add_exercise_text_form">
        {% csrf_token %}
        
        <fieldset class="form-fieldset">
            <legend class="fieldset-legend">
                Метаданные
            </legend>
            
            <div class="fieldset-content">
                <div class="form-row">
                    <div class="form-col">
                        <label class="form-label">
                            {{ form.author.label }}
                        </label>
                        {{ form.author }}
                    </div>
                    
                    <div class="form-col">
                        <label class="form-label">
                            {{ form.idexercisetexttype.label }}
                        </label>
                        {{ form.idexercisetexttype }}
                    </div>
                </div>
            </div>
        </fieldset>
        
        <fieldset class="form-fieldset">
            <legend class="fieldset-legend">
                Текст
            </legend>
            
            <div class="fieldset-content">
                <div class="form-col full-width">
                    <label class="form-label">
                        {{ form.exercisetextname.label }}
                    </label>
                    {{ form.exercisetextname }}
                </div>
                <div class="form-col full-width">
                    <label class="form-label">
                        {{ form.exercisetext.label }}
                    </label>
                    {{ form.exercisetext }}
                </div>
            </div>
        </fieldset>    
        
        <div class="form-actions">
            <button type="submit" class="button add_button">Добавить текст</button>

            <button type="button" class="button go_back_button"
                    onclick="window.location.href = '{% url 'review_text_list' %}'">
                Назад
            </button>
        </div>
    </form>
</div>

{% endblock %}