.title {
    text-align: center;
    color: #0076ff;
    font-size: 40px;
    margin: 20px 0 15px;
  }
  
  .page-container {
    display: block;
    box-sizing: border-box;
  }
  
  .stats-block {
      width: 80%;
      max-width: 1100px;
      margin: 0 auto; 
  }
  

  .legend {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6c757d;
  }
  
  .legend-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .legend-box[data-level="lvl-0"] {
    background-color: #ffffff;
  }
  .legend-box[data-level="lvl-1"] {
    background-color: #e8f0fe;
  }
  .legend-box[data-level="lvl-2"] {
    background-color: #cfe2ff;
  }

  .lvl-0 {
    background-color: #ffffff;
  }
  .lvl-1 {
    background-color: #e8f0fe;
  }
  .lvl-2 {
    background-color: #cfe2ff;
  }

  .errors-table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .errors-table th {
    text-align: center;
    padding: 10px;
    border: 1px solid #dee2e6;
    vertical-align: middle;
  }

  .errors-table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    vertical-align: middle;
  }
  
  .errors-table thead {
    background-color: #f8f9fa;
  }
  
  tr[data-level="error-level-0"] {
    background-color: #ffffff;
  }
  
  tr[data-level="error-level-1"] {
    background-color: #e8f0fe;
  }
  
  tr[data-level="error-level-2"] {
    background-color: #cfe2ff;
  }
  
  .errors-table a {
    color: #0d6efd;
    text-decoration: none;
  }
  
  .errors-table a:hover {
    text-decoration: underline;
  }

.errors-table tbody tr > *:not(:first-child) {
    text-align: center;
}

  @media (max-width:535px) {
    .legend-box{
        width:20px;
    }
    .legend-item span {
        width: calc(100% - 20px);
    }
    .nametag {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
        font-size:14px;
    }

    .errors-table tbody tr > *:not(:first-child) {
        max-width: 10%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
    }
    .errors-table {
        table-layout: fixed;
    }
  }
  