
:root {
    --e-green: #CCFFCC;
    --e-red: #FFCCCC;
	--e-grey: #DAE0E4;
    --e-grey2: #D9D9D9;
    --e-purple: #EACFFF;
}

.selection {
    background-color: var(--e-grey2);
    cursor: pointer;
}

.selection:hover {
    background-color: var(--e-purple);
}

.add-annotation-tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 180px;
    padding: 0px;
}

.triangle {
    rotate: 45deg;
    border-left: 1px solid #000;
    border-top: 1px solid #0a0707;
    width: 20px;
    height: 20px;
    margin: 0px;
    margin: -10px 0;
    background: white;
    z-index: 1;
}

.content {
    border: 1px solid black;
    width: 100%;
    margin: 0px;
    padding: 10px 5px;
}

.tasks-container {
    flex: 2; /* 40% */
    min-width: 0;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    border-left: 2px solid black;
    padding: 20px;
    overflow-y: auto;
}

.comment {
    border:2px solid black;
	height:45px;
	width:200px;
	padding:20px;
	position:relative;
}

.comment:before {
	border:20px solid transparent;
	border-bottom-color:black;
	position:absolute;
	bottom:100%;
    left: 10px;
	content:'';
}
.comment:after {
	border:18px solid transparent;
	border-bottom-color:white;
	position:absolute;
	bottom:100%;
    left: 13px;
	content:'';
}

.review-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    flex-direction: row;
    position: sticky;
    top: 0px;
    z-index: 1000;
    margin: 0;
}

.underline {
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.author {
    color: var(--grey-color);
    font-size: 18px;
}

.review-menu-block {
    padding: 15px;
    margin: 10px 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.55);
    background-color: var(--e-grey);
    border-radius: var(--border-radius);
    position: relative;
}

.review-menu-button {
    font-size: 16px;
    border: 1px solid black;
    background-color: white;
    padding: 15px;
    margin: 10px 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.55);
    cursor: pointer;
    border-radius: var(--border-radius);
    position: relative;
}

.review-menu-button:hover {
    box-shadow: 0 0.25rem 0.5rem #3886fbc6;
}

.review-body {
    display: flex;
    margin: 10px;

    height: calc(100vh - 100px);
    gap: 20px;
}

.review-text-container {
    flex: 3;
    min-width: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.review-text {
    text-align: justify;
    white-space: normal; 
    line-height: 1.5;

    flex: 1;
    padding: 10px;
    max-height: 100%;
}

.review-container {
    border-left: 2px solid black;
    margin: 10px;
    margin-left: 30px;
    padding: 20px;
}

.review-buttons {
    display: flex;
}

.review-buttons button {
    border: 1px solid black;
    background-color: white;
    color: #000;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.review-buttons button:hover {
    background-color: #000;
    color: white;
}

.task {
    border-bottom: 1px solid var(--e-grey2);
    padding: var(--primary-padding);
}

.task-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.task-name {
    align-content: left;
}

.icon {
    display: inline-flex;
    transition: transform 0.3s ease;
}

.toggle-btn.active .icon {
    transform: rotate(180deg);
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: var(--grey-color);
}

.toggle-btn:hover {
    color: var(--secondary-color);
}

.task-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    opacity: 0;
    /* overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; */
}

.task-content::-webkit-scrollbar {
    display: none;
}

.task-content.active {
    max-height: 100vh;
    opacity: 1;
    overflow-y: scroll;
    transition: max-height 0.5s ease-in, opacity 0.3s ease-in;
    overflow-wrap: break-word; 
}

.task-content.active::-webkit-scrollbar {
    width: 6px;
    display: block;
}

.task-text {
    margin: 15px 0;
}

#editTextForm {
    padding: var(--primary-padding);
}

#editTextForm label {
    padding: 5px 0px;
}

#editTextForm .horizontal-level {
    margin-top: 20px;
}

.task-edit-form input,
.task-edit-form textarea,
.create-task-form input,
.create-task-form textarea {
    margin: 5px 0px;
    width: 100%;
    box-sizing: border-box;
}